{% extends "admin/base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('toggle-repository-visibility') }}
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="display-6">Repositories</h2>

    <p class="text-end">Total: {{ pagination.getTotalItemCount }}</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Title', 'r.title') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Language', 'r.language') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Stars', 'r.stars') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Public', 'r.isPublic') }}</th>
            </tr>
        </thead>
            {% for repository in pagination %}
                <tr>
                    <th scope="row">{{ repository.title }}</th>
                    <td>{{ repository.language }}</td>
                    <td>{{ repository.stars }}</td>
                    <td> 
                        <button
                            type="button"
                            class="btn btn-sm {% if repository.isPublic %}btn-danger{% else %}btn-success{% endif %} toggle-repository-visibility-btn"
                            data-repo-id="{{ repository.id }}"
                        >
                            {% if repository.isPublic %}Hide{% else %}Show{% endif %}
                        </button>
                    </td>
                </tr>
            {% endfor %}
        <tbody>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}