{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Portfolio{% endblock %}

{% block body %}
<section id="top">
    <div>
        <h2 class="text-2xl text-white text-center py-5">&lt;Software Developer&gt;</h2>

        <div class="flex justify-center">
            <a class="mr-3" href="https://twitter.com/henrikabel" class="social-icon" target="_blank">
                <i class="bi bi-twitter text-white text-3xl"></i>
            </a>
            <a class="ml-3" href="https://github.com/henrikac" class="social-icon" target="_blank">
                <i class="bi bi-github text-white text-3xl"></i>
            </a>
        </div>
    </div>
</section>

<section id="projects" class="py-5 mt-10">
    <h2 class="text-2xl text-white text-center">Projects</h2>

    <div class="mt-5 md:columns-2">
        {% for repository in repositories %}
            <div class="bg-slate-700 min-h-250 pt-4 px-4 mt-4 mx-4 rounded shadow flex flex-col justify-between">
                <div>
                    <h5 class="text-white text-xl pb-2">{{ repository.title }}</h5>
                    <p class="text-white">
                        {% if repository.description is not null %}
                            {{ repository.description }}
                        {% endif %}
                    </p>
                </div>
                <div class="flex pb-2">
                    <div class="flex-1 text-center">
                        {% if repository.language is not null %}
                            <span class="text-lg text-white">{{ repository.language }}</span>
                        {% endif %}
                    </div>
                    <div class="flex-1 text-center">
                        <span class="text-lg text-white">
                            <i class="bi bi-star-fill"></i>
                            {{ repository.stars }}
                        </span>
                    </div>
                    <div class="flex-1 text-center">
                        <span class="text-lg text-white">
                            <a href="{{ repository.url }}" target="_blank">
                                <i class="bi bi-github text-2xl"></i>
                                <span class="hidden lg:inline-block">view code</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<section id="about" class="mb-20">
    <div class="md:columns-2">
        <div class="mt-3 md:break-after-column">
            <h2 class="text-2xl text-white text-center mb-3">About me</h2>
            <p class="text-white px-4 pt-6">
            I love to design and build software.
            I enjoy trying new technologies and I am currently teaching myself Swift/SwiftUI.
            </p>
        </div>

        <div class="mt-10 md:mt-3">
            <h2 class="text-2xl text-white text-center mb-3">Toolkit</h2>
            <div class="columns-2 px-4 pt-6">
                <ul class="text-white text-center">
                    <li>HTML / CSS</li>
                    <li>JavaScript</li>
                    <li>Bootstrap</li>
                    <li>Tailwind</li>
                    <li>SwiftUI</li>
                </ul>

                <ul class="text-white text-center">
                    <li>PHP</li>
                    <li>Symfony</li>
                    <li>PostgreSQL/MySQL</li>
                    <li>Git</li>
                    <li>Swift</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
