<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Admin | HenrikAC{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-slate-900 font-mono">
        <nav>
            <div class="container mx-auto px-4 py-6 flex items-center justify-center md:justify-between">
                <a class="text-3xl text-white font-semibold" href="{{ path('admin_index') }}">HenrikAC Admin</a>

                <div class="hidden md:flex md:justify-end md:items-center" id="navbarSupportedContent">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="text-white mr-6 hover:underline" href="{{ path('portfolio_list') }}">Portfolio</a>
                            <a class="text-white hover:underline" href="{{ path('admin_auth_logout') }}">Log ud</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <main class="container mx-auto">
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
